.pea-dual-button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 0;
}
.pea-dual-button-wrapper .pea-dual-button-one, .pea-dual-button-wrapper .pea-dual-button-two  {
    align-items: center;
    background-color: #3f8efc;
    border-radius: 0;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    height: 100%;
    justify-content: center;
    outline: none;
    padding: 12px 30px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: all .3s ease-in-out;
    white-space: nowrap;
}
.pea-advanced-button-icon-wrapper {
    transition: all .3s ease-in-out;
}
.pea-dual-button-two-wrapper .pea-dual-button-two {
    background-color: #15171c;
    border: none;
    border-radius: 0 0 0 0;
}
.pea-dual-button-wrapper .pea-advanced-button-text {
    color: #fff;
    transition: all .3s ease-in-out;
}
.pea-dual-button-wrapper .pea-advanced-button-icon {
    display: block;
    position: relative;
    z-index: 1;
}
.pea-dual-button-wrapper .pea-advanced-button-icon svg {
    box-sizing: content-box;
    display: block;
    fill: #fff;
    height: auto;
    width: 16px;
    height: 16px;
}
.pea-dual-button-wrapper .pea-dual-button-connector {
    position: relative;
}
.pea-dual-button-wrapper .pea-dual-button-connector-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    border-radius: 50px;
    overflow: hidden;
    height: 35px;
    left: 50%;
    line-height: 35px;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 35px;
    z-index: 99;
}
.pea-dual-button-wrapper .pea-dual-button-connector-text {
    color: #fff;
    background-color: #399cff;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
    text-decoration: none;
    border: solid;
    border-color: #fff;
    border-width: 2px 2px 2px 2px;
    transition: all .3s ease-in-out;
}