.pea-post-grid-container .pea-post-grid-wrapper {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    text-decoration: none;
}
.pea-post-grid-container .pea-post-grid-wrapper img {
    width: 100%;
    box-sizing: border-box;
    display: block;
    object-fit: cover;
}
.pea-post-grid-container .pea-post-grid-categories {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.pea-post-grid-container .pea-post-grid-categories a:focus {
    outline: none;
    box-shadow: none;
}
.pea-post-grid-container .pea-post-grid-tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.pea-post-grid-container .pea-post-grid-tags a:focus {
    outline: none;
    box-shadow: none;
}
.pea-post-grid-container .pea-post-grid-content .pea-post-title:focus {
    outline: none;
    box-shadow: none;
}
.pea-post-grid-container .pea-post-grid-content a {
    text-decoration: none;
}
.pea-post-grid-container .pea-post-grid-content a:focus {
    outline: none;
    box-shadow: none;
}
.pea-post-grid-author {
    display: flex;
    align-items: center;
}
.pea-post-grid-author a:focus {
    outline: none;
    box-shadow: none;
}
.pea-post-grid-author .pea-post-grid-author-avatar {
    overflow: hidden;
}
.pea-post-grid-author .pea-post-grid-author-avatar img {
    width: 100%;
    height: 100%;
    display: block;
}
.pea-post-grid-author .pea-post-grid-author-info {
    display: flex;
    align-items: center;
}
.pea-post-grid-author .pea-post-grid-author-info .pea-post-grid-author-info-name {
    display: flex;
    align-items: center;
}
.load-more-button-icon {
    display: none;
    visibility: hidden;
    opacity: 0;
}
.pea-post-grid-container .pea-load-more-wrapper {
    overflow: hidden;
}
.pea-post-grid-container .pea-load-more-wrapper .pea-load-more {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}
.pea-post-grid-container .pea-load-more-wrapper .pea-load-more span {
    width: 20px;
    height: 20px;
    position: relative;
    fill: #000;
    transition: all 0.3s ease-in-out;
}
.pea-post-grid-container .pea-load-more-wrapper .pea-load-more span svg {
    width: 100%;
    height: 100%;
}
.pea-post-grid-container .pea-load-more-wrapper .pea-load-more-loader {
    border-top: 2px solid #000;
    border-right: 2px solid #000 99;
    border-bottom: 2px solid #000 4d;
    border-left: 2px solid #000 1a;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: loader 1s linear infinite;
}
.pea-post-grid-container .pea-load-more-wrapper .load-more-button-icon-wrap .load-more-button-icon {
    visibility: visible !important;
    opacity: 1 !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
}
.pea-post-grid-container .pea-load-more-wrapper .load-more-button-icon-wrap .load-more-button-icon svg {
    width: 20px;
    height: 20px;
}
.pea-post-grid-container .pea-load-more-outter-wrap {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
    margin-left: 5px;
}
.pea-post-grid-container .empty-post {
    flex-basis: 100%;
}
.skeleton-item {
    position: relative;
    display: flex;
    flex-direction: column;
}
.skeleton-item .skeleton-item-title {
    width: 100%;
    height: 260px;
}
.skeleton-item .loading {
    position: relative;
}
.skeleton-item .skeleton-item-location {
    width: 100%;
    height: 43px;
    margin: 32px 0 16px;
}
.skeleton-item .skeleton-item-sport {
    width: 80%;
    height: 24px;
}
.post-card.skeleton .loading:before {
    content: "";
    opacity: 0.7;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: loading;
    animation-name: loading;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background-size: 800px 104px;
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
}
.post-card.skeleton .post-card-content {
    width: 100%;
}
.post-card.skeleton .post-card-content .post-card-excerpt {
    width: 100%;
    margin-top: 2rem;
}
.post-card.skeleton .post-card-content .post-card-excerpt h5 {
    min-height: 1.75rem;
    width: 100%;
}
.post-card.skeleton .post-card-content .post-card-excerpt p {
    margin-top: 1rem;
    min-height: 3.5rem;
    width: 100%;
}
.post-card.skeleton .post-card-content .post-card-excerpt div {
    width: 50%;
    min-height: 3.25rem;
}
@-webkit-keyframes loading {
    0% {
        background-position: -800px 0;
    }
    100% {
        background-position: 800px 0;
    }
}
@keyframes loading {
    0% {
        background-position: -800px 0;
    }
    100% {
        background-position: 800px 0;
    }
}
@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.pea-post-grid-filter-categories {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    margin-bottom: 60px;
}
@media only screen and (max-width: 767px) {
    .pea-post-grid-filter-categories {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px 8px;
        margin-bottom: 32px;
    }
}
.pea-post-grid-filter-categories .pea-post-grid-filter-category {
    cursor: pointer;
    color: #000;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    padding: 16px 30px;
    border-radius: 50px;
    border: 1px solid #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.pea-post-grid-filter-categories .pea-post-grid-filter-category:hover {
    border-color: #a4000f;
    color: #a4000f;
    transition: all 0.3s ease-in-out;
}
.pea-post-grid-filter-categories .pea-post-grid-filter-category:hover .pea-post-grid-filter-category-count {
    color: #000;
    background-color: #f8a948;
    transition: all 0.3s ease-in-out;
}
.pea-post-grid-filter-categories .pea-post-grid-filter-category.active {
    border-color: #a4000f;
    color: #a4000f;
    transition: all 0.3s ease-in-out;
}
.pea-post-grid-filter-categories .pea-post-grid-filter-category.active .pea-post-grid-filter-category-count {
    color: #000;
    background-color: #f8a948;
    transition: all 0.3s ease-in-out;
}
@media only screen and (max-width: 767px) {
    .pea-post-grid-filter-categories .pea-post-grid-filter-category {
        font-size: 12px;
        line-height: 14px;
        padding: 16px 0;
        width: 100%;
    }
}
.pea-post-grid-filter-categories .pea-post-grid-filter-category .pea-post-grid-filter-category-count {
    margin-left: 8px;
    width: 34px;
    background-color: #f0f0f0;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Cabin;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    transition: all 0.3s ease-in-out;
}
@media only screen and (max-width: 767px) {
    .pea-post-grid-filter-categories .pea-post-grid-filter-category .pea-post-grid-filter-category-count {
        font-size: 12px;
        line-height: 14px;
        width: 31px;
    }
}
.pea-pagination-previous-icon, .pea-pagination-next-icon {
    display: none;
    visibility: hidden;
    opacity: 0;
}
.pea-pagination-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    border-top: 2px solid #e6e6e6;
    padding-top: 44px;
    margin-top: 12px;
}
.pea-pagination-wrapper .pea-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}
.pea-pagination-wrapper .pea-pagination-ellipsis {
    padding: 6px 10px;
    color: #999;
}
.pea-pagination-wrapper .pea-pagination-item {
    width: 36px;
    aspect-ratio: 1;
    border: none;
    color: #000;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Cabin;
    font-size: 14px;
    font-weight: 400;
    border-radius: 50%;
    padding: 7px 15px;
    transition: all 0.3s ease-in-out;
}
.pea-pagination-wrapper .pea-pagination-item:focus {
    outline: none;
    box-shadow: none;
}
.pea-pagination-wrapper .pea-pagination-item:hover {
    transition: all 0.3s ease-in-out;
}
.pea-pagination-wrapper .pea-pagination-item.active {
    background-color: #e6e6e6;
    transition: all 0.3s ease-in-out;
}
.pea-pagination-wrapper .pea-pagination-previous-icon, .pea-pagination-wrapper .pea-pagination-next-icon {
    visibility: visible;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12px;
    height: 12px;
}
.pea-pagination-wrapper .pea-pagination-previous-icon svg, .pea-pagination-wrapper .pea-pagination-next-icon svg {
    width: 100%;
    height: 100%;
}
.pea-pagination-previous, .pea-pagination-next {
    width: 36px;
    aspect-ratio: 1;
    border: 1px solid #e6e6e6;
    color: #000;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 7px 15px;
    transition: all 0.3s ease-in-out;
}
.pea-pagination-previous:hover, .pea-pagination-next:hover {
    background-color: #e6e6e6;
    transition: all 0.3s ease-in-out;
}
.pea-pagination-previous:focus, .pea-pagination-next:focus {
    outline: none;
    box-shadow: none;
}
.pea-pagination-previous.disabled, .pea-pagination-next.disabled {
    opacity: 0.4;
    pointer-events: none;
    cursor: default;
}
.pea-post-grid-read-more-icon {
    display: none;
    visibility: hidden;
    opacity: 0;
}
.pea-post-grid-read-more-icon svg {
    width: 20px;
    height: 20px;
}
.pea-post-grid-read-more-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    box-sizing: border-box;
}
.pea-post-grid-read-more-button:focus {
    outline: none;
    box-shadow: none;
}
.pea-post-grid-read-more-button .pea-post-grid-read-more-icon-wrapper {
    transition: all .3s ease-in-out;
    line-height: 0;
}
.pea-post-grid-read-more-button .pea-post-grid-read-more-icon-wrapper .pea-post-grid-read-more-icon {
    display: flex !important;
    visibility: visible !important;
    opacity: 1 !important;
}
.pea-post-grid-read-more-button .pea-post-grid-read-more-icon-image {
    transition: all .3s ease-in-out;
    height: auto;
}
.pea-post-grid-read-more-button .pea-post-grid-read-more-icon-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.pea-post-grid-container .pea_load_more_wrapper {
    overflow: hidden;
    grid-column: span 3;
}
.pea-post-grid-container .pea_load_more_wrapper .pea_load_more {
    align-items: center;
    cursor: pointer;
    display: inline-flex;
}
/* css by controls */

.pea-post-grid-container.grid-layout {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 30px;
    column-gap: 30px;
}
.pea-post-grid-container {
    border: none;
    transition: all .3s ease-in-out;
    position: relative;
}
.pea-post-grid-container .pea-post-grid-wrapper {
    border: none;
    transition: background-color .3s ease,border-color .3s ease;
}
.pea-post-grid-container .pea-post-grid-wrapper .pea-post-grid-image a {
    display: flex;
}
.pea-post-grid-container .pea-post-grid-wrapper .pea-post-grid-image img {
    border: none;
    border-radius: 16px 16px 16px 16px;
    width: 100%;
    height: clamp(397px,calc(400px + 5vw),400px);
}
.pea-post-grid-container .pea-post-grid-author {
    margin: 32px 0 0 0;
}
.pea-post-grid-container .pea-post-grid-author, .pea-post-grid-container .pea-post-grid-author .pea-post-grid-author-info, .pea-post-grid-container .pea-post-grid-author .pea-post-grid-author-info-name {
    gap: 14px;
}
.pea-post-grid-container .pea-post-grid-author .pea-post-grid-author-avatar {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50% 50% 50% 50%;
}
.pea-post-grid-container .pea-post-grid-wrapper .pea-post-grid-content a {
    margin: 24px 0 16px 0;
    font-family: inherit;
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    text-transform: none;
    text-decoration: none;
    line-height: 30px;
}
.pea-post-grid-container .pea-post-grid-wrapper .pea-post-grid-content .pea-post-title {
    font-family: inherit;
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    text-transform: none;
    text-decoration: none;
    line-height: 30px;
}
.pea-post-grid-container .pea-post-grid-wrapper .pea-post-grid-content .pea-post-desc {
    font-family: inherit;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
    text-decoration: none;
    line-height: 25px;
    margin: 0 0 0 0;
}
.pea-post-grid-container.list-layout {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 30px;
}
.pea-post-grid-container.list-layout .pea-post-grid-wrapper {
    display: flex;
    width: 100%!important;
    height: 100%!important;
    overflow: hidden;
    text-decoration: none;
}
.pea-post-grid-container.list-layout .pea-post-grid-wrapper .pea-post-grid-image-wrapper {
    max-width: 50%;
    height: fit-content;
    overflow: hidden;
    display: inline-block;
    position: relative;
}
.pea-post-grid-container.list-layout .pea-post-grid-wrapper .pea-post-grid-image-wrapper img {
    max-width: 100%;
    object-fit: cover;
}
.pea-post-grid-container.list-layout .pea-post-grid-content-wrapper {
    flex: 1;
    align-self: center;
    display: block;
    text-align: left;
}
.pea-post-grid-container .pea_load_more_wrapper .pea_load_more {
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    text-transform: none;
    text-decoration: none;
    line-height: 30px;
    padding: 16px 24px 16px 24px;
    border: none;
    border-radius: 10px 10px 10px 10px;
    color: #fff;
    background: #15171c;
}
/* .pea-post-grid-container .pea_load_more_wrapper .pea_load_more span {
    fill: #000;
    height: 20px;
    position: relative;
    transition: all .3s ease-in-out;
    width: 20px;
} */
.pea-post-grid-container .pea_load_more_wrapper .load_more_button_icon_wrap .load_more_button_icon {
    align-items: center;
    display: flex!important;
    justify-content: center;
    opacity: 1!important;
    visibility: visible!important;
}
.pea-post-grid-container .pea_load_more_wrapper .pea_load_more .load_more_button_icon svg {
    width: 20px;
    height: 20px;
    fill: #fff;
    margin: 0 0 0 5px;
}
.pea_pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.pea_pagination_next, .pea_pagination_prev {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.pea_pagination_next.disabled, .pea_pagination_prev.disabled {
    cursor: default;
    opacity: .4;
    pointer-events: none;
}
.pea_pagination_wrapper .pea_pagination_numbers {
    align-items: center;
    display: flex;
    gap: 4px;
    justify-content: center;
}
.pea_pagination_wrapper .pea_pagination_numbers .pea_pagination_number  {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}