.pea-social-icons-wrapper {
    border: none;
    transition: all .3s ease-in-out;
    position: relative;
}
.pea-social-icons-wrapper .pea-socials {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.pea-social-icons-wrapper .pea-socials {
    grid-gap: 10px;
    justify-content: left;
    margin: 0;
    padding: 0;
}
.pea-social-icons-wrapper .pea-social-links-wrapper ul.pea-socials .pea-social-list-item a.pea-social-icon-link {
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    text-decoration: none;
    transition: .3s ease-in-out;
}
.pea-social-icons-wrapper .pea-social-links-wrapper ul.pea-socials .pea-social-list-item a.pea-social-icon-link .pea-social-icon-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
}
.pea-social-icons-wrapper .pea-social-links-wrapper ul.pea-socials .pea-social-list-item a.pea-social-icon-link .pea-social-icon-wrapper .pea-social-icon {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: all .3s;
}
.pea-social-icons-wrapper .pea-social-links-wrapper ul.pea-socials .pea-social-list-item a.pea-social-icon-link .pea-social-icon-wrapper .pea-social-icon svg {
    transition: fill .3s;
}

.pea-social-icons-wrapper .pea-social-list-item .pea-social-icon-link .pea-social-icon-wrapper .pea-social-icon i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.pea-social-icons-wrapper .pea-social-links-wrapper ul.pea-socials .pea-social-list-item a.pea-social-icon-link .pea-social-icon-wrapper .pea-social-icon-title {
    transition: color .3s;
}
/* css by control */
.pea-social-icons-wrapper .pea-social-list-item .pea-social-icon-link {
    border: solid;
    border-width: 1px 1px 1px 1px;
    border-radius: 4px 4px 4px 4px;
    transition: all .3s ease-in-out;
}
.pea-social-icons-wrapper .pea-social-icon-wrapper .pea-social-icon {
    padding: 15px 15px 15px 15px;
    border: none;
}
.pea-social-icons-wrapper .pea-social-list-item.single-social-icon-item-1 .pea-social-icon-link .pea-social-icon-wrapper .pea-social-icon svg,
.pea-social-icons-wrapper .pea-social-list-item.single-social-icon-item-1 .pea-social-icon-link .pea-social-icon-wrapper .pea-social-icon i {
    fill: #fff;
    color: #fff;
}
.pea-social-icons-wrapper .pea-social-list-item .pea-social-icon-link .pea-social-icon-wrapper .pea-social-icon svg{
    width: 20px;
    height: 20px;
}
.pea-social-icons-wrapper .pea-social-list-item .pea-social-icon-link svg {
    fill: #399cff;
}
.pea-social-icons-wrapper .pea-social-list-item .pea-social-icon-link .pea-social-icon-title {
    font-family: Default;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    color: #15171c;
    padding: 12px 15px 12px 8px;
}